body {
    background-color: rgba(190, 164, 138, 0.288);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    text-decoration: none;
    color: rgb(58, 56, 56);
}

a:hover {
    text-decoration: underline;
    color: red;
}

ol .ul {
    width: 100%;
}

img {
    width: 100%;
}